

.banner__part-1 {
  box-sizing: border-box;
  min-height: 462px;
  padding-top: 110px;



  &--index {

    background-image:
            url("../img/background-nav--hend.png"),
            url("../img/background-nav.png");
    background-repeat: no-repeat;
    background-position: 0 180px, center center;
  }
  &--photo {
    min-height: 237px;

    background-image:
            url("../img/background-nav.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &--form {
    min-height: 237px;

    background-image:
            url("../img/background-nav.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}


.banner__part-2 {
  min-height: 270px;
}

.banner__title {

  margin-top: 0;

  font-family: @fontOpenSansLite;
  font-size: 24px;
  color: white;
  text-align: center;
}