.contacts {
  min-height: 412px;
}
.contacts__wrapper {
  padding-top: 45px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: @fontOpenSansLite;
  font-size: 24px;
  text-align: center;
}

.contacts__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: @fontOpenSansBold;
  font-size: 18px;
  text-align: center;
}

.contacts__text--red {

  font-family: @fontOpenSansLite;
  font-size: 24px;
  color: #d22856;
}

.contacts__triangle {

  height: 0;

  border-top: 35px solid #ffffff;
  border-bottom: 35px solid transparent;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

.contacts__map {

  min-height: 200px;

  background-image: url("../img/background-map.png");
  background-repeat: no-repeat;
  background-position: bottom;
}