.slider__toggles {
  position: absolute;
  top: 310px;
  left:50%;

  margin: 0;
  display: flex;

  transform: translateX(-50%);

  &--2 {
    top: 321px
  }
}

.slider__toggle-input {
  display: none;
  &:checked + .slider__toggles-label {
    border: 3px solid #283645;
    background-color: transparent;
  }
}

.slider__toggles-label {

  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #bec2c7;
}

.slider__button-1200 {
  display: none;
}


@media (min-width: @tablet) {
  .slider__toggles {
    top: 260px;

    &--2 {
      display: none;
    }
  }

}

@media (min-width: @desktop) {

  .slider__toggles {
    display: none;
  }

  .slider__button-1200 {
    position: absolute;
    top: 40%;

    display: block;
    width: 30px;
    height: 30px;

    background: none;

    border: 2px solid #b5b9be;
    border-bottom: none;
    border-left: none;
    outline: none;

    cursor: pointer;

    &--1 {
      left: 100px;
      transform: rotate(-135deg);

    }
    &--2 {
      right: 100px;
      transform: rotate(45deg);
    }
  }

}

